body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  margin: 0;
  overflow: hidden;
}
form {
  position: absolute;
  right: 10px;
  top: 10px;
}
.node {
  border: solid 1px white;
  font: 12px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 60% 40%;
  grid-template-rows: 42% 5% 40%;
}

#v1_sunburst{
  display: grid;
  grid-column: 2;
  grid-row: 3;
}

#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#v1 {
  font-family: Calibri, Arial, "sans-serif";
}
#v1_query {
   font-family: Calibri, Arial, "sans-serif";
   text-align: center;
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#treemap {
  grid-row: 3;
  grid-column: 1;
}

#streamgraph {
  grid-row: 1;
  grid-column: 1;
  margin-left: 10px;
  margin-top: -80px;
}

#time {
  grid-row: 2;
  grid-column: 1;
}

#sunmap{
  grid-row: 1;
  grid-column: 2;
  margin-left: -35px;
  margin-top: 50px;
}

/*Map*/
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
.fill {
  fill: #fff;
}
.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.land {
  fill: #CCCCCC;
}
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

#tooltip { 
  position: absolute;
  grid-row: 1;
  grid-column: 1;
  z-index: 10;
  opacity: 0;
  background-color: white;
  padding: 3px 5px;
  border: 1px solid black;
  text-align: center;
}

#reset {
  grid-column: 2;
  grid-row: 2;
}